@using TextPub;
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        
        <title>@Page.Title - My TextPub site</title>
        
        <link href="@Href("~/Site.css")" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="page-container">
            <header>
                <p class="site-title"><a href="@Href("~/")">My TextPub site</a></p>
              
                <nav>
                    <a href="@Href("~/")">Home</a>
                    <a href="@Href("~/articles")">Articles</a>
                @foreach (var page in TextPub.Pages().Where(p => p.Level == 0).OrderBy(p => p.SortOrder))
                {
                    <a href="@Href(page.Id)">@page.Title</a>
                }
                </nav>
            </header>
            <div id="body">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>


            <footer>
                <p>&copy; @DateTime.Now.Year - My TextPub site</p>
            </footer>
        </div>
        @RenderSection("Scripts", required: false)

    </body>
</html>