@using TextPub
@{
    Layout = "~/_SiteLayout.cshtml";
    

    
    var article = TextPub.Article(Context.GetRouteValue("id"));
    if (article == null)
    {
        Response.StatusCode = 404;
        return;
    }

    Page.Title = article.Title;
}

<h1>@Html.Raw(article.Title)</h1>
<p>Published @article.PublishDate @if (article.Category != null) { <text>in <a href="@Href("/articles/category",  @article.Category.Id)">@article.Category.Name</a></text> }</p>
@Html.Raw(article.Body)