@using TextPub
@using TextPub.Models;
@{
    Layout = "~/_SiteLayout.cshtml";
    
    var page = TextPub.Page(Context.GetRouteValue("pageId"));
    if (page == null)
    {
        Response.StatusCode = 404;
        return;
    }

    Page.Title = page.Title;
}

<nav class="breadcrumbs">
    You are here: 
    @{
        var parent = page;
        var parents = new List<PageModel>();
        while(parent != null)
        {
            parents.Add(parent);
            parent = parent.Parent;    
        }

        parents.Reverse();
        
        foreach (var item in parents)
        {
            if (parents.First() != item)
            {
                <text>
                &raquo;
                </text>
            }
            if (item == page)
            {
                <strong>@item.Title</strong>   
            }
            else
            {
                <a href="@Href("~/" + item.Id)">@item.Title</a>   
            }
   
        }
    }
</nav>

@if (page.Children.Any())
{
<nav class="sub-navigation">
    @foreach (var child in page.Children)
    {
    <a href="@Href("~/" + child.Id)">@child.Title</a>           
    }
</nav>
}

<h1>@Html.Raw(page.Title)</h1>
@Html.Raw(page.Body)

